# Python cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environments
.venv/
venv/

# Test artifacts and coverage
.pytest_cache/
.coverage
htmlcov/

# Ignore tests if not required to commit
/tests/

# Outputs and reports
/outputs/

# Data files
/data/

# OS files
.DS_Store
